<% for (var message of locals.messages) { %>
<div class="alert alert-<%= message.class %>" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <% if (message.header != null) { %>
    <h4 class="alert-heading">
        <%= message.header %>
    </h4>
    <% } %>
    <p>
        <%= message.body %>
    </p>
</div>
<% } %>