<!DOCTYPE html>
<html>
    <head>
        <% if (title && title.length) { %>
            <title><%= title %></title>
        <% } %>
        <% include ./head %>
    </head>
    <body>
        <% include ./nav %>
        <div class="container">