<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Stage SQUIRREL - Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <row>
        <div class="col-lg-12">
          <form class="form-horizontal">
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Tell us about your event</strong></div>
              <div class="panel-body">
                <p>Basic info up front</p>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="col-sm-4 control-label">Your events name?</label>
                  <div class="col-sm-8">
                    <input class="form-control" id="p1_event_name" placeholder="Big Blue Dance">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="col-sm-4 control-label">It will take place on the:</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="p1_stage">
                      <option value=""></option>
                      <option value="main">Main-Stage</option>
                      <option value="club">Club-Stage</option>
                      <option value="open">Open-Stage</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="col-sm-4 control-label">Day of week / Date:</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="p1_date">
                      <option value="">Please pick a day</option>
                      <option value="wed">Wednesday - 2017-08-16 </option>
                      <option value="thu">Thursday - 2017-08-17</option>
                      <option value="fri">Friday - 2017-08-18</option>
                      <option value="sat">Saturday - 2017-08-19</option>
                      <option value="sun">Sunday - 2017-08-20</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="col-sm-7 control-label">Time you will need for setup before the actual event:</label>
                  <div class="col-sm-5">
                    <input class="form-control" id="p1_event_name" placeholder="HH:MM">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="col-sm-7 control-label">The overall duration of your event:</label>
                  <div class="col-sm-5">
                    <input class="form-control" id="p1_event_name" placeholder="HH:MM">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="col-sm-7 control-label">Time you'll need for breakdown right after the event:</label>
                  <div class="col-sm-5">
                    <input class="form-control" id="p1_event_name" placeholder="HH:MM">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="col-sm-4 control-label">What fits your event most?</label>
                  <div class="col-sm-8">
                    <div class="checkbox">
                      <label class="checkbox-inline"><input type="checkbox" value="Talk">Talk</label>
                      <label class="checkbox-inline"><input type="checkbox" value="Concert">Concert</label>
                      <label class="checkbox-inline"><input type="checkbox" value="Theater">Theater</label>
                      <label class="checkbox-inline"><input type="checkbox" value="Gameshow">Gameshow</label>
                      <label class="checkbox-inline"><input type="checkbox" value="Dance">Dance</label>
                      <label class="checkbox-inline"><input type="checkbox" value="Other">Other</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="col-sm-4 control-label">Please copy+paste your event­ description from the program</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" id="p1_event_name" placeholder="Big Blue Dance"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="col-sm-4 control-label">Okay, what is really going to happen?</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" id="p1_event_name" placeholder="Big Blue Dance"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </row>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
  </body>
</html>
