<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Stage Squirrel - Signup</title>
	<% include ./partials/head %>
	<script>
    function checkForm(form)
	    {
			<% if (cfg["AUTH_DOUBLEOPTIN"].value == 1) { %>
	      if(form.password.value != form.password2.value) {
	          form.password2.focus();
			  form.password2.title="The password entered does not match";
	          return false;
	      }
		  <% } %>
		  if(form.userrole.value == 0) {
		  	  form.userrole.focus();
		  	  form.userrole.title="Please choose a role";
			  return false;
		  }
	      return true;
	    }
	</script>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-2">

    <h1><span class="fa fa-sign-in"></span> Stage Squirrel - Signup</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post" onsubmit="return checkForm(this)">
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" required title="Enter a valid mail address">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required title="Password must contain at least 8 characters, including UPPER/lowercase and numbers">
        </div>
		<% if (cfg["AUTH_DOUBLEOPTIN"].value == 1) { %>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required title="Please enter the same Password as above">
        </div>
		<% } %>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="user_name" required>
        </div>
        <div class="form-group">
            <label>Userrole</label>
			<select name="userrole" multiple class="chosen-select" required>
				<option value="0">Choose your Role</option>
				<% for (role of roles) { %>
				<option value="<%= role.role_id %>" title="<%= role.role_description %>"><%= role.role_title %></option>
				<% } %>
			</select>
		     <script>
		       $(function() {
		         $('.chosen-select').chosen();
		         $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
		       });
		     </script>
        </div>

        <button type="submit" class="btn btn-primary btn-lg" id="validate">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>

</div>
<div class="col-sm-2">
	<img src="images/sq-logo.png">
</div>

</div>
</body>
</html>