			body {
				margin:0;
				
				font-family: "Verdana";
				line-height: 1.42857143;
				color:#016257;
				
				background: #016257; /* For browsers that do not support gradients */
				background: -webkit-linear-gradient(#016257, white); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(#016257, white); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(#016257, white); /* For Firefox 3.6 to 15 */
				background: linear-gradient(#016257, white); /* Standard syntax */
			}
			
			a {
				color:#016257;
			}
			
			html {
				font-size: 14px !important;
			}
			
			.tablelogin {
				width: 650px;
				height: 485px;
				color: white;
				margin: auto;
				padding: 0 0 0 0;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				border-collapse: collapse;
			}
			
			.inputform {
				background:
					linear-gradient(
						rgba(255,255,255,0.5),
						rgba(255,255,255,0.5)
					),
					url(../pictures/sq-logo.png);
				background-position:bottom right;
				background-repeat:no-repeat;
				color:#016257;
				vertical-align: top;
			}
			
			.inputform input {
				width: 250px;    
				background-color: transparent;
				border: 1px solid #016257;
				display: block;
				height: 40px;
				font-size: 16px;
				font-weight: normal;
				color: #016257;
				padding: 0 4px;
				margin-bottom: 10px;
			}
			
			.inputform input::-webkit-input-placeholder {
				color: #016257;
			}
			
			.inputform input[type="button"]:hover {
				background-color: #016257;
				color: white;
				cursor: pointer;
			}
			
			.submitform {
				bottom: 20px;
				position: absolute;
				padding-left: 5px;
			}
			
			.tablehead {
				background: #016257;
				font-weight: bold;
				height: 35px;
			}
			
			.custBackground {
				background-image: url("../pictures/ef-logo.jpg");
				height: 485px;
				width: 166px;
			}
			
			
			
			
			.headermenu li {
				background-color: #016257;
			}
			
			.headermenu li a:hover:not(.active){
				background-color: #111;
			}
			
			.headermenu {
				font-size: 0; /* Remove annoying whitespace between Nav Elements (white-space-collapse got moved to CSS4) */
				position: relative;
				z-index: 100;
				background-color: #016257;
			}

			.headermenu a, .headermenu  span {
				font-size: 1rem;
				padding: 0.5em;
				display: block;
				white-space: nowrap;
				text-decoration: none;
				color: white;
			}
			
			.headermenu ul {
				list-style: none;
				padding: 0;
			}

			.headermenu li {
				position: relative;
				display: inline-block;
			}
			
			.headermenu ul ul {
				display: none;
				position: absolute;
			}
			
			.headermenu li:hover > ul {
				display: block;
			}
			
			.headermenu ul ul ul {
				left: 100%;
				top: 0px;
			}
			
			.headermenu  ul > li > ul > li {
				min-width: 100%;
				border-right: solid 1px #029080;
			}
			
			.headermenu  ul > li > ul > li > ul > li{
				min-width: 100%;
			}

			.headermenu .active {
				background-color: #013128;
				color: #FFFFFF;
			}
			
			
			
			
			.leftnav {
				background-color: #016257;
				background-image: url("../pictures/ef-logo.jpg");
				background-position: bottom left;
				background-repeat:no-repeat;
				height: 100%;
				width: 166px;
				top: 0;
				position: absolute;
			}
			
			.bottominfo {
				color: #016257;
				background-color: transparent;
				bottom: 2px;
				right: 20px;
				position: fixed;
				z-index: 3;
			}
			
			.content {
				background: #016257; /* For browsers that do not support gradients */
				background: -webkit-linear-gradient(#016257, white); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(#016257, white); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(#016257, white); /* For Firefox 3.6 to 15 */
				background: linear-gradient(#016257, white); /* Standard syntax */
				color: #016257;
				top: 34px;
				padding-top: 20px;
				bottom: 0px;
				left: 166px;
				right: 0px;
				position: absolute;
				overflow-y: auto;
				overflow-x: hidden;
				z-index: 1;
			}
			
			.btn-primary {
				background-image: -webkit-linear-gradient(top,#016257 0,#013128 100%);
				background-image: -o-linear-gradient(top,#016257 0,#013128 100%);
				background-image: -webkit-gradient(linear,left top,left bottom,from(#016257),to(#013128));
				background-image: linear-gradient(to bottom,#016257 0,#013128 100%);
				border-color: #016257;
			}	
			
			.btn-primary:focus, .btn-primary:hover {
				background-color: #016257;
				border-color: #016257;
				background-position: 0 -32px;
			}