<% /* See /app/lib/DataModels/Element/SubForm.js for more information. */ %>
<% for (var headline of headlines) { %>
    <label for="" class="col-xs-<%= width %> control-label">
        <%= headline %>
    </label>
<% } %>

<% for (var currentRow = 0; currentRow < rowCount; currentRow++) { %>
    <div class="row">
        <% for (var element of elements) { %>
            <%- element.render(currentRow) -%>
        <% } %>
        <% if (currentRow > 0) { %>
            <input type="button" value="x" class="btn btn-danger js-remove-row" />
        <% } %>
    </div>
<% } %>

<% if (isExpandable) { %>
    <input type="button" class="btn btn-primary js-add-row" value="Add Row" />
<% } %>