<% /* See /app/lib/DataModels/Element/SingleLineTextField.js for more information. */ %>
<div class="form-group row">
    <label class="col-sm-4 control-label">
        <%= label %>
    </label>
    <div class="col-sm-8">
        <input class="form-control" name="custom<%= id %>" value="<%= value %>" />
    </div>
</div>